#header{
    color: black;
    text-align: center;
    padding: 10px;
}

#menubar{
    background-color: black;
    height: 40px;
}

.menuitem{
    margin-left: 10%;
<<<<<<< HEAD
    float: left;
    display: block;
    text-align: center;
    padding: 10px 40px;
=======
    width: 12.5%;
    height: 40px;
    line-height: 40px;
    float: left;
    display: block;
    text-align: center;

>>>>>>> 5a3d5028dd8e468a247b9324ced3027666694089
    color: #ffffff
}
.menuitem:hover{
    background-color: #ffffff;
}

.menuitem a{
    color: #ffffff;
    text-decoration:none;
}
.menuitem:hover a{
    color:#000000;
    text-decoration:none;
}



<<<<<<< HEAD
#searchbar input[type=text]{
    margin-right: 10%;
    float: right;
    padding: 10px;
    border: none;
    font-size: 20px;
    height: 20px;
    width: 280px;
}

=======
>>>>>>> 5a3d5028dd8e468a247b9324ced3027666694089
#content{
    background-color: #dddddd;
    height:50%;
    overflow-y: scroll;
}


