{% extends 'project/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1 align="center">Add a Toilet</h1>

    <div align="center">
        <form id="bathroom_form" name="bathroomform" method="post" >
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            <br>
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <br>
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Add Toilet"/>
        </form>
    </div>
{% endblock %}
