<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if toilet %}
            <form id="comment_form" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <input type="text" value="{{ user }}" id="user" style="visibility: hidden">
                <input type="text" value="{{ toilet }}" id="bathroom" style="visibility: hidden">
                <input type="textarea" id="comment">
                <input type="submit" name="submit" value="Add comment"/>
            </form>
        {% endif %}
    {% else %}
        As you are not logged in you can't carry out this action!
    {% endif %}
    <a href="{% url 'show_toilet' toilet.bSlug %}">Go Back</a>
</body>
</html>