{% extends 'project/base.html' %}
{% load staticfiles %}

{% block title_block%}
    Comment
{% endblock %}

{% block body_block%}

    <form method="post" id="comment-form">
        {% csrf_token %}
        <input type="text" value="{{ user }}" name="user" hidden>
        <input type="text" value="{{ toilet }}" name="bathroom" hidden>
        Comment:
        <textarea name="comment"></textarea>
        <input type="submit" name="submit" value="Add comment"/>
    </form>
    <a href="{% url 'show_toilet' toilet.b_slug %}">Go Back</a>
{% endblock %}