{% extends 'project/base.html' %}
{% load staticfiles %}

{% block title_block %} Home {% endblock %}

{% block body_block %}

    <br>
    <br>
    <br>
    <br>
<div id="content">
    <! list of toilets >
    <div id="newlyadded">
    {% if bathrooms %}
        <ul style="list-style-type:none;">
            {% for bathroom in bathrooms %}
                <li><a href="{% url 'show_toilet' bathroom.1 %}">{{ bathroom.0 }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no bathrooms present...</strong>
    {% endif %}
    </div>

    <br>
    <br>
    <br>
    <br>

    <div id="searchbar">
        <form type="get" action="." style="margin:0">
            {% csrf_token %}
            <input id="search_box" type="text" name="search_box" placeholder="Search here...">
            <button id="search_submit" type="submit">Search</button>
        </form>
        {% if searchresponse %}

            <ul>
                {% for item in searchresponse %}
                    <li><a href="{% url 'show_toilet' item.1 %}">{{ item.0 }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No bathroom found</strong>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br>

    <div >
        <! signing up >
         <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
        <! add a page >
         <li><a href="{% url 'add_toilet' %}">Add New Toilet</a> </li>
        <! Sign in >
        <li>Sign In</li>
    </div>
</div>
    <style>
        #content{
                    clear: left;
                    width 100%
                    background-color: red;

                }
    </style>
{% endblock %}