{% extends 'project/base.html' %}
{% load staticfiles %}

{% block title_block %} Home {% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
    <div id="filterbar">

        <div id="dropdownfilter">
            <form type="get" id="filter_form" name="filterform" action="." style="margin:0">
                {% csrf_token %}
                <input id="search_box" type="text" name="search_box" placeholder="Search here..."><br>
                Sort on:
                <select name="select_sort">
                    <option value="name" selected="selected">ABC</option>
                    <option value="-rating">Rating</option>
                </select>

                <!--        not working gender filter
                <select name="select_gender">
                    <option value="NoF" selected="selected">No Filter</option>
                    <option value="N">Neutral</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                -->
                <input type="submit" name="searchsubmit" value="Submit filter" />
            </form>
        </div>

        <div id="filterlabel">
            <p align="center">Press here to filter</p>
        </div>

    </div>

    <div id="toiletshower" >
        {% if bathroom_list %}
            {% for bathroom in bathroom_list %}
                <div class="toiletitem">
                    <div class="toilettext">
                        <h3>{{bathroom.0}}</h3>   <br>
                        <a href="{% url 'show_toilet' bathroom.1 %}">{{ bathroom.0 }}</a>    <br>
                        Building: {{bathroom.2}}.<br>
                        Level: {{bathroom.4}}. <br>
                        Gender: {{bathroom.5}}.
                    </div>
                    <div class="toiletimage">
                        <img src="{% static "images/toilet.jpg"%}" style="max-width:100%;">
                    </div>
                    <div class="toiletrating"> Rating: {{bathroom.3}}</div>
                </div>
            {% endfor %}

        {% else %}
            <strong>There are no bathrooms present...</strong>
        {% endif %}

    </div>

    <br>


    <div >
        <! signing up >
         <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
        <! add a page >
         <li><a href="{% url 'add_toilet' %}">Add New Toilet</a> </li>
 
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#filterlabel").click(function(){
        $("#dropdownfilter").slideToggle("slow");
    });
});
</script>




{% endblock %}