{% extends 'project/base.html' %}
{% load staticfiles %}

{% block style_block %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bathroom.css' %}">
{% endblock %}

{% block script_block %}
    <script src="{% static 'js/bathroom.js' %}"></script>
{% endblock%}

{% block body_block%}

    {% if toilet %}

        <div id="top">
            <h1>Building: {{ toilet.building }} / Floor: {{ toilet.level }} / Gender: {{ toilet.get_gender_display }}</h1>
        </div>

        <div class="Left">
            {% if images %}
                <div class="containImages">
                    {% for i in images %}
                        <div class="imageSlides">
                            {% with 'images/bathrooms/'|add:i.image as image %}
                                <img src="{% static image %}"
                                    alt="{{ i.name }}" style="width: 100%;">
                            {% endwith %}
                        </div>
                    {% endfor %}
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
            {% else %}
                There are no images!
            {% endif %}
        </div>

        <div class="Right">
            <h2>Rating: </h2>
            {{ toilet.rating.rating__avg }}
            <a href="{% url 'rate' toilet.b_slug %}"><button>Rate</button></a>

            <h2>Comments: </h2>
            {% if comments %}
                {% for comment in comments %}
                    {{ comment }}
                {% endfor %}
            {% else %}
                There are no comments yet, make a comment...
            {% endif %}
            <a href="{% url 'comment' toilet.b_slug %}"><button>Comment</button></a>
        </div>

    {% endif %}

{% endblock %}